<h1>Admin Dashboard</h1>
<table class="table table-bordered">
  <tr>
    <td><h4>Number of products</h4></td>
    <td><h4><%= @product_count %></h4></td>
    
  </tr>
  <tr>
    <td><h4>Number of categories</h4></td>
    <td><h4><%= @category_count %></h4></td>
  </tr>
</table>
</div>
